/* Fonts */
@font-face { 
    font-family: StretchSansFree; src: url("stretchsansfree.otf");
}

/* All Content */
body{
    margin: 0;
    padding: 0;
    font-family: StretchSansFree;
}

/* Hide/Show Button: STILL NEEDS WORK */
#toggle-btn{
    position: fixed;
    z-index: 1;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: solid 20px #000;
    border-radius: 50%;
    color: #000000;
    font-family: StretchSansFree;
    margin-left: 15px;
}

/* All Nav Button */
ul{
    position: fixed;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    background: #ffffff;;
    width: 200px;
    height: 40px;
    padding-top: 15px;
    color:#262626;
    margin: 4px 0;
    padding-left: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

ul li a:hover{
    background: #262626;
    color:#ffffff;
}

/* All Containers */
#container{
    width: 100%;
    height: 100vh;
}

#container div{
    position: relative;    
    width: 100%;
    height: 100vh;
}

/* All h1 */
#container div#home h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container div#aboutus h1{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container div#ourservices h1{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container div#gluucause h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: 30px;
    margin-bottom: -30px;
    padding: 0;
    z-index: 0;
}

#container div#contactus h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* All h2 */
#container div#aboutus h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}

/* All p */
#container div#aboutus p{
    position: absolute;
    top: 70%;
    transform: translateY(-30%);
    width: 600px;
    text-align: center;
    margin-left: 330px;
    padding: 0;
    z-index: 1;
}

#container div#ourservices2 p{
    position: absolute;
    top: 70%;
    transform: translateY(-30%);
    text-align: center;
    margin: 100px;
    padding: 0;
    z-index: 1;
}

iframe{
    margin-left: 720px;
    z-index: 1;
    
}

/* All div backgrounds */
#container div#home{
   background: #006c67;
}

#container div#aboutus{
    background: #f194b4;

}

#container div#ourservices{
    background: #ffb100;

}

#container div#ourservices2{
    background: #ffb100;
}

#container div#gluucause{
    background: #ffebc6;
}

#container div#contactus{
    background: #003844;
}

/* Images */
img#aboutus{
    position: absolute;
    left: -300px;
    top: -300px;
    z-index: 0;
  }

  img#stethoscope{
    position: absolute;
    max-width: 800px;
    left: 465px;
    top: -450px;
    z-index: 0;
  }

  img#corimeals{
    position: absolute;
    max-width: 600px;
    left: 5px;
    top: -400px;
    z-index: 0;  
  }

  img#hausmeals{
    position: absolute;
    max-width: 600px;
    left: 5px;
    top: 60px;
    z-index: 0;  
  }

  img#fiteats{
    position: absolute;
    max-width: 600px;
    left: 600px;
    top: 60px;
    z-index: 0;  
  }

  .thumbnail:hover {
    position:relative;
    top: 25px;
    left: 35px;
    width: 500px;
    height:auto;
    display:block;
    z-index:999;
}